html, body {
	margin: 0;
	padding: 0;
} 
/*This helps to reset the style to 0*/

body {
	background-size: fill;
	background-attachment: fixed;
}
/*first two lines will make this responsive background and no repeat */

.unexploded {
	background-image: url(img/simcity.jpg);
}

.exploded {
	background-image: url(img/explosion.jpg);
}



.wirebox {
	margin: 5% auto;
	width: 200px;
	background: #000000;
	text-align: center;
}

.timerbox {
	color: white;
	padding: 2%;
}

.buttonbox {
	padding: 2%;

}

#reset {
	width: 160px;
}